@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--very-light-gray);
}

h3 {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
}

.container {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>*:first-child {
    background-color: var(--bright-orange);
    border-radius: 5px 0 0 5px;
}

.container>*:nth-child(2) {
    background-color: var(--dark-cyan);
}

.container>*:last-child {
    background-color: var(--very-dark-cyan);
    border-radius: 0 5px 5px 0;
}

.container>*:first-child a {
    color: var(--bright-orange);
}

.container>*:nth-child(2) a {
    color: var(--dark-cyan);
}

.container>*:last-child a {
    color: var(--very-dark-cyan);
}

.card {
    width: 250px;
    height: 450px;
    padding: 2rem;
    position: relative;
    background-color: var(--dark-cyan);
}

.card img {
    width: 60px;
}

.card h3 {
    margin: 2rem 0;
    font-size: 2.5rem;
    color: var(--very-light-gray);
}

.card p {
    color: var(--transparent-white);
    font-size: .871rem;
    line-height: 1.8;
}

.card a {
    display: inline-block;
    position: absolute;
    left: 2rem;
    bottom: 2.5rem;
    background-color: var(--very-light-gray);
    text-decoration: none;
    padding: .65rem 1.2rem;
    border-radius: 20px;
}

.card a:hover {
    background-color: transparent;
    color: white;
    border: 1px white solid;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2.5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:767px) {
    .container {
        flex-direction: column;
    }
    .container>*:first-child {
        background-color: var(--bright-orange);
        border-radius: 5px 5px 0 0;
    }
    .container>*:last-child {
        background-color: var(--very-dark-cyan);
        border-radius: 0 0 5px 5px;
    }
}

@media (max-width:991px) {
    html {
        font-size: 12px;
    }
    .card {
        width: 200px;
        height: 350px;
    }
}